html,
body {
  padding: 0px;
  margin: 0px;
  /* background-color: black; */
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

#sketch {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px; /* Anpassen an deine benötigte Größe */
  height: 700px; /* Anpassen an deine benötigte Größe */
  /* pointer-events: all; */
  overflow: hidden;
  z-index: 0;
}

button {
  position: absolute;
  background-color: #fff;
  width: 710px;
  height: 710px;
  border-radius: 100%;
  z-index: 10;
  top: 0px;
  opacity: 10%;
  border-style: none;
  /* top: 360px; */
}
#btn1 {
  left: 600px;
}
#btn2 {
  left: -600px;
}
