html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 20px;
  background-color: #111;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 30px;
}
h1 {
  color: #eee;
  font-size: 50pt;
  text-decoration: underline;
}

button {
  padding: 20px;
  border-radius: 25px;
  font-size: 30pt;
  cursor: pointer;
}
